
*{
    margin: 0em;
    padding: 0em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url(fariya_images/nature3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
 ul{
  float: right;
    list-style-type: none;
   margin: 35px;
   
}
 li {
    display: inline;
    padding: 20px;
    background-color: transparent;
    margin: 1pc;
    height: 5px;
    border:1px solid rgb(6, 6, 252); 
    transition:0.6s ease;
    right: 100%;
    position: relative;
    top: 10px;
    left: 500px;
    
}
ul :hover{
    background-color: rgb(100, 164, 248);
}

h1{
    padding: 25px;
    margin: 2px;
}
.main{
    background-color: transparent;
    color: rgb(1, 1, 77);
    
}
.main ul{
    display: inline;
    color: rgb(38, 218, 250);
    list-style: none;
} 
.main{
    display: flex;

}
.hide{
    visibility: hidden;
}
.two{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.one{
    color: rgb(14, 2, 59);
    text-decoration: none;
    size: 300%;
    padding: 20px;
    text-align: center;
}
.third{
        width: 210px;
        height: 310px;
        /* background-color: rgb(255, 255, 255); */
        background-color: rgb(38, 211, 211,0.4); 
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        text-align: center;
         border:3px solid rgb(6, 6, 252);  
         transition:0.6s ease;

}
.third:hover{
    
        transform: scale(1.1);
        cursor: pointer;
    
}
div img{
    max-width: 200px;
    height: 9em;
    border-radius: 10px;
}
.fourth{
       
        width: 200px;
        height: 9em;
        color: rgb(243, 243, 252);
}
 p{
    font-size: 20px;
    color: rgb(20, 2, 70);
    
    
} 
p{
    text-align: center;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.paragraph{
    color: rgb(6, 2, 48);
}
.paragraph1{
    color: rgb(46, 1, 19);
     /* background-image: url(fariya_images/paragraph1-Butterfly-d.jpg); 
     */
}
.name{
    position: relative;
    float: left;
}

    

